<?xml version="1.0"?>

<model>
  <name>mesa</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Ricardo Cervantes</name>
    <email>R.cervantes@gmail</email>
  </author>

  <description>
    Workspace of the Dobot CR5 with a gripper at Tec de Monterrey
  </description>
</model>
